[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stewartteh96
[access "refs/for/refs/*"]
	read = group user/stewartteh96
	push = group user/stewartteh96
	label-Code-Review = -2..+2 group user/stewartteh96
	label-Verified = -1..+1 group user/stewartteh96
	rebase = group user/stewartteh96
	removeReviewer = group user/stewartteh96
	submit = group user/stewartteh96
[access "refs/heads/*"]
	read = group user/stewartteh96
	create = group user/stewartteh96
	push = +force group user/stewartteh96
	pushMerge = group user/stewartteh96
[access "refs/tags/*"]
	push = group user/stewartteh96
	push = +force group user/stewartteh96
